/*-- scss:defaults --*/

$theme: "spacelab";
$font-family-sans-serif: -apple-system, 'system-ui', 'Segoe UI', Arimo, system-ui;
$font-family-monospace: ui-monospace, Menlo, Monaco, Consolas, 'Courier New', monospace;
$body-color: #4d5053;
$body-bg: #f4f4f4;
$link-color: #66a075;


/*-- customization beyond defaults --*/

.navbar {
    font-family: 'Menlo', 'Courier New', monospace;
    background-color: #4d5053 !important;
}

// refactor the !important overrides?
h1, h2, h3 {
    font-family: 'Menlo', 'Courier New', monospace;
    margin-top: 60px !important;
    margin-bottom: 40px !important;
    border-bottom: 1px solid #4d5053 !important;
}
h4, h5, h6 {
    font-family: 'Menlo', 'Courier New', monospace;
    margin-top: 30px !important;
    margin-bottom: 30px !important;

}

// social media grid + buttons: currently supports 2x2 aesthetic
.social-media-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 7px;
    margin-top: 25px;
  }

    .social-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
        border: 1.5px solid #000000;
        border-radius: 7px;
        color: #4d5053;
        text-decoration: none;
        background-color: #f4f4f4;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .social-button:hover {
        background-color: #41664a;
        color: #f4f4f4;
        transform: scale(1.05);
    }

// unordered list and list item styling
ul {
    list-style: none; /* Remove default bullets */
    color: #4d5053;
}

    ul li {
        position: relative; /* Position relative for absolute positioning of the pseudo-element */
        padding-left: 0px; /* Space for the dash (20) */
    }

    ul li::before {
        content: "";  // set the bullet text here
        color: #4d5053;
        position: absolute;    /* Position the dash */
        left: 0;
        top: 0;
        // line-height: 1.2;   /* Ensure proper vertical alignment */
    }

// pretty picture border
img.rounded-border {
    border: 1.5px solid black;
    border-radius: 400px;      /* Rounded corners; 20 for soft */
    display: block;
    margin: 0 auto;           /* Centers the image */
  }

// image floating style
.responsive-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // max-width: 1000px;
    // margin: 0 auto;
  }

  .text-column {
    flex: 0 0 35%;
    padding: 0em;
  }

  .image-column {
    flex: 0 0 65%;
    padding: 0.5em;
    display: flex;
    justify-content: center; // horizontally center with text column
  }

  .image-column img {
    min-width: 310px;  // but don't shrink too much!
    max-width: 100%;
    height: auto;
  }

  // adjusts on mobile
  @media (max-width: 768px) {
    .text-column,
    .image-column {
      flex: 0 0 100%;
    }
    .text-column {
        margin-bottom: 2em;
      }
  }
